html, body {
    font-family: arial;
    font-size: small;
    margin: 0;
}

a, a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.content {
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    resize: vertical;
    overflow: auto;
    height: 90%;
}

.content div {
    resize: vertical;
    overflow: auto;
}

.blue {
    color: blue; !important
}

.search {
    border-radius: 1%;
    font-weight: bold;
    color: grey;
    background-color: #f2f2f2;
    border: none;
    padding: 1% 1.25%;
}

.search:hover {
    color: black;
    border:1px solid #e6e6e6;
}

.searchbar {
    border: 1px outset #f2f2f2;
    width: 43rem;
    height: 3.5rem;
    font-size: large;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

li a {
    float: left;
    padding: 1rem;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    color: grey;
}

footer div {
    border-top: 1px solid lightgrey;
    height: 3rem;
    padding: 0 .75rem
}

footer a {
    color: grey;
}
